.menu__box {
  position: absolute;
  top: 90px;
  right: 0;
  display: block;
  background-color: #f7f6f4;
  width: 100vw;
  z-index: 10;
  border-bottom: 1px solid #949d94;
}

.menu__box ul li {
  list-style: none;
  font-family: 'Karla', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #949d94;
}

.menu__box ul li:hover {
  background-color: #d3cbc3;
}

.menu__box a {
  display: block;
  padding: 30px 15px;
}

.menu__box-item {
  text-decoration: none;
  color: #3B3923;
}

@media (min-width: 768px) {
  .menu__box {
    width: 25vw;
    border-radius: 0 0 0 10px;
  }
}
