.projects-review {
  width: 100vw;
  height: 450px;

  background-color: #f7f6f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  margin: 30px 0;
}

.projects-review__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85vw;
  border-radius: 20px;
}

.projects-review__title {
  color: #3B3923;
  text-transform: uppercase;
}

.projects-review__project {
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f6f4;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px #C2CFB2;
  -moz-box-shadow: 0px 0px 10px 0px #C2CFB2;
  box-shadow: 0px 0px 10px 0px #C2CFB2;
  cursor: pointer;
  width: 85vw;
  height: 25vw;
}

.projects-review__project:hover {
  color: #3B3923;
  -webkit-box-shadow: 0px 0px 10px 0px #d3cbc3;
  -moz-box-shadow: 0px 0px 10px 0px #d3cbc3;
  box-shadow: 0px 0px 10px 0px #d3cbc3;
}

.project1 {
  background-color: #213d26;
}

.project1:hover {
  background: #d3cbc3;
}

.project2 {
  background-color: #404932;
}

.project2:hover {
  background: #d3cbc3;
}

.project3 {
  background-color: #353c26;
}

.project3:hover {
  background: #d3cbc3;
}

.projects-review__btn {
  color: #3B3923;
  padding: 5px 8px;
  border: 0.3px solid #3B3923;
  border-radius: 3px;
  background-color: #f7f6f4;
  text-decoration: none;
  text-transform: uppercase;
}

.projects-review__btn:hover {
  cursor: pointer;
  border: 1px solid #f7f6f4;
  color: #f7f6f4;
  background-color: #3B3923;
}

@media (min-width: 601px) {
  .projects-review__box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects-review__project {
    width: calc((85vw - 40px)/3);
    height: calc((85vw - 40px)/3);
  }
}
