.about-page {
  width: 100vw;
  background-color: #f7f6f4;
}

.about-page__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-inline: 7.5vw;
}

.about-page__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-page__text {
  color: #3B3923;
}

.about-page__photo {
  height: 40vw;
  width: 85vw;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px #404932a8;
  -moz-box-shadow: 0px 0px 10px 0px #404932a8;
  box-shadow: 0px 0px 10px 0px #404932a8;

}

.first {
  background-image: url("./img/kami_1.jpeg");
  background-size: cover;
  background-position: top;
  margin-top: 20px;
}

.second {
  background-image: url("./img/kami_2.jpeg");
  background-size: cover;
  background-position: center;
}

.third {
  background-image: url("./img/kami_6.jpeg");
  background-size: cover;
  background-position: left;
}

.about-page__btn {
  width: fit-content;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3B3923;

  padding: 5px;
  border: 1px solid #3B3923;
  border-radius: 5px;
}

.about-page__btn:hover {
  border: 1px solid #f7f6f4;
  background-color: #3B3923;
  color: #f7f6f4;
}
