.header {
  padding: 1rem;
  background-size: cover;
  background-color: white;
  width: 100vw;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;

  position: sticky;
  top: 0;
}

.header__title {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #3B3923;
}

.header__photo {
  display: none;
}

.header__menu--pc {
  display: none;
}


.header__menu-btn {
  border: none;
  background-color: white;
}

.header__menu-item {
  height: 1.7rem;
  margin-left: 2rem;
}

.header__opened-menu {
  position: absolute;
  top: 10vh;
}

@media (min-width: 403px) {
  .header {
    height: 7vh;
  }

  .header__title {
    font-size: 25px;
  }

  .header__menu-item {
    height: 2.3rem;
  }
}

@media (min-width: 933px) {
  .header {
    flex-direction: column;
    height: 35vh;
    position: unset;
  }

  .header__title {
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
    height: 40px;
    background-color: white;
  }

  .header__menu--phone {
    display: none;
  }

  .header__menu--pc li:hover {
    text-decoration: underline;
  }

  .header__photo {
    display: flex;
    background-image: url("./img/kami.jpeg");
    background-size: cover;
    border-radius: 100%;
    margin-top: 40px;
    height: 20vh;
    width: 20vh;
  }

  .header__navigation {
    position: fixed;
    top: 40px;
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .header__menu--pc {
    display: flex;
    gap: 10px;
    list-style: none;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

}
