.home-about__textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5vh 7.5vw;
  border-radius: 5px;
  padding: 20px;
  width: 85vw;
  height: 20vh;
  color: #f2f3ec;
  background-color: #515b41;
  -webkit-box-shadow: 0px 0px 10px 0px #404932a8;
  -moz-box-shadow: 0px 0px 10px 0px #404932a8;
  box-shadow: 0px 0px 10px 0px #404932a8;
  cursor: pointer;
  z-index: 2;
}

.home-about__greeting {
  width: 16vw;
  text-transform: uppercase;
  font-size: 35px;
}

.home-about__btn {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 140px;
  color: #f7f6f4;
  border: 0.3px solid #f7f6f4;
  border-radius: 10px;
  background-color: #515b41;
  padding: 0.5rem;
  border-radius: 2px;
}

.home-about__btn:hover {
  color: #515b41;
  border: 1px solid #515b41;
  background-color: #f7f6f4;
}

.home-about__photo {
  display: none;
}

@media (min-width: 601px) {
  .home-about {
    display: flex;
    align-items: center;
    background-color: #d3cbc3;
    background-size: cover;
    background-position: center;
    height: calc(100vw/3);
    width: 100vw;
    margin-top: 3vh;
  }

  .home-about__textbox {
    margin: 0;
    padding: 23px;
    width: 70vw;
    height: calc((100vw/3) - 12rem);
    color: #f2f3ec;
    background-color: #515b41;
    -webkit-box-shadow: 0px 0px 10px 0px #404932a8;
    -moz-box-shadow: 0px 0px 10px 0px #404932a8;
    box-shadow: 0px 0px 10px 0px #404932a8;
    position: relative;
    right: 10vw;
  }

  .home-about__photo {
    margin: 0 0 0 10vw;
    width: 45vw;
    height: calc((100vw/3) - 5rem);
    border-radius: 5px;
    display: flex;
    background-image: url("./img/kami.jpg");
    background-size: cover;
    background-position: right;
    filter: grayscale(90%);
    z-index: 1;
  }
}
