.home-about {
  display: flex;
  justify-content: space-evenly;
}

.home-about__textbox {
  width: 40vw;
}

.home-about__photo {
  display: flex;
  background-image: url("./img/kami.jpeg");
  background-size: cover;
  border-radius: 100%;
  margin-top: 40px;
  height: 20vh;
  width: 20vh;
}
