.home-about__container {
  position: relative;
  bottom: 25px;
}

.home-about__textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5vh 7.5vw;
  border-radius: 5px;
  padding: 20px;
  width: 85vw;
  height: auto;
  color: #f2f3ec;
  background-color: #515b41;
  -webkit-box-shadow: 0px 0px 10px 0px #404932a8;
  -moz-box-shadow: 0px 0px 10px 0px #404932a8;
  box-shadow: 0px 0px 10px 0px #404932a8;
  cursor: pointer;
  z-index: 2;
}

.home-about__greeting {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
}

.home-about__text {
  font-size: 18px;
}

.home-about__btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #515b41;
  border: 1px solid #515b41;
  background-color: #f7f6f4;
  border-radius: 5px;
  padding: 0.5rem;
  width: 35vw;
  position: relative;
  left: calc(65vw/2);
}

.home-about__btn:hover {
  color: #f7f6f4;
  border: 1px solid #f7f6f4;
  background-color: #515b41;
}

.home-about__photo {
  background-image: url("./img/kami.jpg");
  background-size: cover;
  background-position: right;
  width: 100vw;
  height: 180px;
}

@media (min-width: 400px) {
  .home-about {
    height: 550px;
  }

  .home-about__photo {
    height: 220px;
  }

  .home-about__greeting {
    font-size: 22px;
    padding-bottom: 25px;
  }

  .home-about__text {
    font-size: 22px;
  }

  .home-about__btn {
    font-size: 16.5px;
  }
}

@media (min-width: 500px) {
  .home-about {
    height: 630px;
  }

  .home-about__photo {
    height: 250px;
  }

  .home-about__greeting {
    font-size: 25px;
    padding-bottom: 28px;
  }

  .home-about__text {
    font-size: 25px;
  }

  .home-about__btn {
    font-size: 19px;
  }
}

@media (min-width: 601px) {
  .home-about {
    display: flex;
    align-items: center;
    background-color: #d3cbc3;
    background-size: cover;
    background-position: center;
    height: calc(100vw/3);
    width: 100vw;
    margin-top: 3vh;
  }

  .home-about__textbox {
    margin: 0;
    padding: 23px;
    width: 70vw;
    height: calc((100vw/3) - 12rem);
    color: #f2f3ec;
    background-color: #515b41;
    -webkit-box-shadow: 0px 0px 10px 0px #404932a8;
    -moz-box-shadow: 0px 0px 10px 0px #404932a8;
    box-shadow: 0px 0px 10px 0px #404932a8;
    position: relative;
    right: 10vw;
  }

  .home-about__photo {
    margin: 0 0 0 10vw;
    width: 45vw;
    height: calc((100vw/3) - 5rem);
    border-radius: 5px;
    display: flex;
    background-image: url("./img/kami.jpg");
    background-size: cover;
    background-position: right;
    filter: grayscale(90%);
    z-index: 1;
  }
}
