.homepage {
  align-items: center;
  background-color: #f8f4f0;
  width: 100vw;
  height: 100vh;
}

.hopmepage__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
